.Home {
    min-width: 800px;
    text-align: center;
  }

  .block {
    margin-bottom: 50px;
  }
  
  .sub-title {
    color: #333;
    margin-top: 20px;
    font-size: 1.5em;
  }
  
  .description {
    margin: 10px 0;
    color: #666;
    line-height: 1.5;
    font-size: 1.1em;
  }
  